# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js build output
.next/
out/

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Hardhat cache & artifacts
hardhat/cache/
hardhat/artifacts/

# Logs
logs
*.log
